* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

body {
    background-image: url(section2bg.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}
  
.gmstudio {
    max-width: 75%;
    margin: auto;
    margin-top: 25px;
}

.gmstudio img {
    width: 25%;
    height: auto;
    margin-left: 38%;

}
  
.gmstudio > p, .gmstudio > h1 {
    margin: 1.5rem 0;
    text-align: center;
}
  
.gmstudio > h1 {
    letter-spacing: 3px;
}
  
.question {
    background-color: rgba(224, 234, 96, 0.753);
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-radius: 12px;
    border: 2px solid black;
}
  
.question i {
    font-size: 1.6rem;
}
  
.active,
.accordion:hover {
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    transition: top 4s ease-in-out;
}
.pannel {
    padding: 0 2rem 2.5rem 2rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    display: none;
    border-radius: 12px;
    border: 2px solid black;
    
}
.pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    line-height: 1.4;
    text-align: justify;
    margin-top: 10px;
}
  
.faqs {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    border-radius: 12px;
}
.faqs.active {
    border: none;
}