/* Homepage */

head {
    background-color: #1C4767;
    padding: 10px;
    display: block;
}


body {
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    background-image: url(bgtemp.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

nav {
    background-color: #E8D769;
    padding: 50px;
    padding-bottom: 25px;
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    width: 190px;
    margin-top: -20px;
    margin-left: -30px;
    float: left;
    height: auto;
}

.menu h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -10px;
    margin-right: 12px;
    float: right;
    display: flex;
    gap: 60px;
   
}

.aboutus:hover {
    text-decoration: underline;
    transition: 0.6s;
}

.contact:hover {
    text-decoration: underline;
    transition: 0.6s;
}

.location:hover {
    text-decoration: underline;
    transition: 0.6s;
}


nav a {
    text-decoration: none;
    color: black;
    
}

.tagline {
    margin: 200px;
    margin-left: -350px;
    font-size: 65px;
    color: white;
    float: left;
    width: 100%;
    height: auto;
    position: absolute;
    -webkit-text-stroke: 1px black;

}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
    
}

.dropbtn {
    padding: 10px 20px;
    cursor: pointer;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#E8D769;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 2px solid black;
    
}

.dropdown-content a {
    padding: 12px;
    display: block;
    color: black;

}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown-content a:hover {
    background: #f9eda1
    
}

.dropdown .dropdown {
    position: relative;
}

.dropdown .dropdown-content .dropdown-content {
    top: 0;
    left: 100%;
    margin-top: -2px;
    display: none;
    margin-left: -393px;
}

.dropdown .dropdown-content .dropdown:hover .dropdown-content {
    display: block;
}

/* Burger Menu Styles */

.burger {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 40px; 
    cursor: pointer;
    color: black;  
    
}
.burger-menu {
    display: none;
    background-color: #E8D769;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
}

.burger-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.burger-menu a:hover {
    background-color: #f9eda1;
}


/* Responsive for Mobile Screens */
@media (max-width: 768px) {
    .menu {
        display: none;
        top: 0;
        transition: 2s ease-in-out;
    }

    .burger {
        display: block;
        position: absolute;
        right: 10px;
        top: 20px;
    }

    .burger-menu.show {
        display: block;
    }
}

.section2, .section3 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
}


/* Section1 */

.section1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}

.text-content {
    flex: 1;
}

.homepagepicture {
    margin-top: -10px;
    margin-right: 90px;
    max-width: 50%;
    height: auto; 
    float: right;
    flex: 1;
}
  
.text-content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    height: auto;
    margin-top: 200px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px white;
    text-shadow: 2px 2px 4px black;
}


/* Responsive for larger Screen*/
@media (min-width: 769px) {
    .burger {
        display: none;
    }

    .section1 img {
        margin-right: 5px;
    }
    
}

/* Medium Size Screen*/
@media (min-width: 490px) and (max-width: 1020px) {
    .section1 img {
        width: 90%;
        margin-right: 5px;
    }
}

/* Responsive for Small Screens */
@media (max-width: 768px) {
    .section1 img {
        width: 90%;
        margin-right: 21%;
    }
}

/* Fade Effect */
@keyframes change {
    0% {
        background-image: url(image4.jpg);
        filter: brightness(80%);
    }
    20% {
        background-image: url(bgtemp1.jpg);
        filter: brightness(80%);
    }
    40% {
        background-image: url(bgtemp6.jpg);
        filter: brightness(80%);
    }
    60% {
        background-image: url(bgtemp3.jpg);
        filter: brightness(80%);
    }
    80% {
        background-image: url(bgtemp8.jpg);
        filter: brightness(80%);
    }
    100% {
        background-image: url(bgtemp5.jpg);
        filter: brightness(80%);
    }
}

/* Section2 */
.section2 {
    background-image: url(section2bg.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Montserrat', sans-serif;

}

.section2 .poster-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.section2 .poster-card {
    position: relative;
    width: 400px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    transition: transform 0.3s ease;


}

.section2 .poster-card:hover {
    transform: scale(1.05);

}

.section2 .poster-card .background-box {
    position: absolute;
    top: 50%;
    left: -100%;
    width: 100%;
    height: 40px;
    background-color: #06BCC1;
    transform: translateY(-50%);
    transition: left 0.7s ease;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 .poster-card:hover .background-box {
    left: 0;
}


.section2 .poster-card img {
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease;
    z-index: 0;
}

.section2 .poster-card:hover img {
    filter: blur(5px) grayscale(100%);
}

.section2 .poster-content {
    padding: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5); 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    z-index: 3;
}

.section2 .poster-card:hover .poster-content {
    opacity: 1; 
}


.section2 .poster-content h3 {
    font-size: 25px;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin: 0;
    position: relative;
    z-index: 4;
}

.section2 .poster-content p {
    color: #000000;
    font-size: 15px;
    line-height: 1.3;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
}

/* Cards on very small screens (phones, etc.) */
@media (max-width: 500px) {
    .poster-container {
        width: 200px;
        margin: 0;
        padding-left: 0;
        margin-left: 20%;
    }

    .poster-card .poster-content h3 {
        font-size: 15px;
    }

}

/* Responsive for Mobile Screens */
@media (max-width: 768px) {
    .poster-container {
        width: 400px;
        height: auto;
        margin-left: 20%;
    }
}

@media (max-width: 625px) {
    .poster-container {
        width: 400px;
        height: auto;
        margin-left: 7%;
    }
}



/* Section3 */
.section3 {
    background: linear-gradient(to top, #33ccff 0%, #ffcc66 100%);
    
}

.video {
    width: 100%;
    object-fit: cover;
    display: block;
}

.section3-textcontent{
    width: 100%;
    height: auto;
    font-size: 20px;
    font-family: 'Arial Black';
    text-transform: uppercase;
    margin-top: 70px;


}

.section3 h1 {
    font-size: 60px;
    margin-top: 10px;
    color: white;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    text-shadow: 2px 2px 4px black;
    position: relative;
    

}

.section3-glass{
    background: rgba(255, 255, 255, .0.2);
    width: 350px;
    height: 100px;
    margin-top: 290px;
    margin-left: 20px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    border: 2px solid black;
    backdrop-filter: blur(10px);
    border-radius: 40px;
    position: relative; 

}

.section3-card {
    background-color: rgb(170, 255, 79);
    width: 400px;
    height: 660px;
    position: absolute;
    margin-left: 70px;
    margin-top: 40px;
    background-image: url(image9.jpg);
    background-size: cover;
    border-radius: 100px;
    border: 5px solid black;
    transform: rotate(0deg);
    transition: transform 0.6s
}

.section3-card:hover {
    transform: rotate(5deg) ;
    
}

.section3-card2 {
    width: 400px;
    height: 660px;
    position: absolute;
    margin-left: 540px;
    margin-top: 40px;
    background-color: #777df7;
    background-image: url(image5.jpeg);
    background-size: cover;
    border-radius: 100px;
    border: 5px solid black;
    transform: rotate(0deg);
    transition: transform 0.6s

}

.section3-card2:hover {
    transform: rotate(5deg) ;
    
}

.section3-card3 {
    background-color: rgb(255, 145, 0);
    width: 400px;
    height: 660px;
    position: absolute;
    margin-left: 1000px;
    margin-top: 40px;
    background-image: url(image8.jpg);
    background-size: cover;
    border-radius: 100px;
    border: 5px solid black;
    transform: rotate(0deg);
    transition: transform 0.6s
}

.section3-card3:hover {
    transform: rotate(5deg) ;
    
}


.text {
    top: 30%;
    left: 50%;
    position: absolute;
    font-family: 'Franklin Gothic Heavy';
    font-size: 30px;

}

/* Section 4 */
.section4 img {
    width: 100%; 
    object-fit: cover; 
    display: block; 
}

/* Section 5 */
.section5 {
    background: linear-gradient(to top, #205072 0%, #1C4767 100%);
    width: 100%;
    height: auto;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}

.section5 img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    display: block; 
}



footer {
    background-color: #E8D769;
    padding: 70px;
    border: 3px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.footer-logo {
    width: 190px;
    margin-bottom: 10px; /* Space between logo and icons */
    height: auto;
    margin-top: -10px;
    margin-left: -30px;

}

.footer-icons {
    display: flex;
    justify-content: left;
    margin-top: -10px;
    margin-left: -35px;
    gap: 20px; 
}

.footer-icon {
    width: 25px;
    height: auto;
}

.footer-options {
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -100px;
    margin-right: -60px;

}

.footer-options a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px; 
    margin-bottom: 20px; 
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.footer-text p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    float: inline-start;
    margin-left: -50px;
    margin-bottom: -50px;
}

